.header {
  padding: 2rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 14rem;
    @include _992 {
      max-width: 22rem;
    }
  }

  &__btn {
    padding: 0.8rem 1rem;
    border: 0.1rem solid #878787;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    background: #2196F3;
    @include _768{
      font-size: 1.4rem;
      padding: 1rem 2rem;
    }
    @include _992 {
      padding: 1rem 3rem;
      font-size: 1.6rem;
    }

    &:hover{
      opacity: 0.9;
    }

    &:active{
      background: #2880c8;
      opacity: 1;
    }
  }
}